footer {
  width: 100%;
}
footer > div.ratangal {
  width: 100%;
  background-color: #1c1e53;
}
footer > div.ratangal > div.contact {
  width: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}
footer > div.ratangal > div.contact > div.left {
  width: 100%;
  margin-top: 50px;
}
footer > div.ratangal > div.contact > div.left > p {
  width: 100%;
  margin-top: 30px;
  color: #ffffff;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
}
footer > div.ratangal > div.contact > div.left > div.info {
  margin-top: 125px;
  width: 100%;
  background-color: #fcd980;
  display: flex;
  flex-flow: row wrap;
  justify-content: start;
  align-items: start;
  gap: 20px;
}
footer > div.ratangal > div.contact > div.left > div.info > div.left {
  margin-top: 20px;
  margin-left: 30px;
}
footer > div.ratangal > div.contact > div.left > div.info > div.right {
  margin-top: 20px;
  margin-left: 30px;
}

.aval {
  font-family: Poppins;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  color: #282938;
}
.dovom {
  font-family: Poppins;
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  color: #49494d;
}
footer > div.ratangal > div.contact > div.right {
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
footer > div.ratangal > div.contact > div.right > h2 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  color: white;
}
footer > div.ratangal > div.contact > div.right > p {
  margin-top: 50px;
  width: 100%;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #f4f6fc;
}
footer > div.ratangal > div.contact > div.right > div.icon {
  margin-top: 30px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 26px;
}
footer > div.footerlink {
  width: 100%;
  z-index: -1;
  display: none;
}

footer > div.footerlink > div.menu {
  width: 80%;
  height: 100%;
  margin-bottom: 30px;
  margin-left: 100px;
  display: inline;
  z-index: 3;
  position: relative;
  bottom: 40px;
  right: 100px;
}
footer > div.footerlink > div.menu > nav {
  width: 100%;
  height: inherit;
}
footer > div.footerlink > div.menu > nav > ul {
  width: inherit;
  height: inherit;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  gap: 32px;
}
footer > div.footerlink > div.menu > nav > ul > li {
  width: fit-content;
}
footer > div.footerlink > div.menu > nav > ul > li > a {
  font-family: poppins;
  color: #212127;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
footer > div.footerlink > div.link {
  margin-top: 30px;
  box-sizing: border-box;
  margin-left: 100px;
  width: 20%;
}
footer > div.footerlink > div.link > p {
  font-family: poppins;
  color: #212127;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
