header {
  width: 100%;
  padding: 16px 160px;
  box-sizing: border-box;
  background-color: #1c1e53;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
header > div.left {
  width: fit-content;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header > div.right {
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 18px;
}
header > div.right > div.menu {
  width: 80%;
  height: 100%;
}
header > div.right > div.menu > nav {
  width: 100%;
  height: inherit;
}
header > div.right > div.menu > nav > ul {
  width: inherit;
  height: inherit;
  list-style: none;
  display: flex;
  flex-flow: row nowrap;
  justify-content: end;
  align-items: center;
  gap: 32px;
}
header > div.right > div.menu > nav > ul > li {
  width: fit-content;
}
header > div.right > div.menu > nav > ul > li > a {
  font-family: poppins;
  color: #bbbbcb;
  text-transform: capitalize;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}
a.active{
    color: white !important;
}
header > div.right > div.button {
  width: 25%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
header > div.right > div.button > a {
  text-decoration: none;
  text-transform: capitalize;
  color: white;
  box-sizing: border-box;
  border-radius: 50px;
  font-weight: 500;
  font-size: 16px;
  font-family: poppins;
  
}
